
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;

}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table
{
    text-align: left;
}

.form-group {
    text-align: center;
}

.navbar-collapse.in {
    display: block !important;
}

p, main, h1, .form-group, .form-control, .navbar-brand, .nav-item {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style:italic;
    background-color: white;
}

h1 {
    font-weight: bold;
}

body {
  background-image: url("images/marauderhome.jpg");
}



    #Dorms {
      display: none;
    }

    #Dorms.show {
      display: block;
    }

    #Houses {
      display: none;
    }

    #Houses.show {
      display: block;
    }

    #Libraries {
      display: none;
    }

    #Libraries.show {
      display: block;
    }

    #Cafes {
      display: none;
    }

    #Cafes.show {
      display: block;
    }