
.body, body {
    background-color: #10141b;
    font-family: Butler,serif;
    color: #fff;
    margin: 0;
}
.body, body {
    font-family: Sofia Pro,serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
}

body {
    margin: 0;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --background-image: "none";
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, :after, :before {
    box-sizing: inherit;
}
*, :after, :before {
    box-sizing: inherit;
}