{% extends "layout.html" %}

{% block title %}
    Check In/Out
{% endblock %}


{% block main %}
    <link href="/static/mystyles.css" rel="stylesheet">
    <!--<script type="text/javascript" src="static/extendform.js"></script>-->
    <form action="/check" method="post">
         <div class="form-group">
           <label for="Process">Check In or Check Out</label>
           <select class="form-control" id="Process" name="check">
             <option>Check In</option>
             <option>Check Out</option>
           </select>
         </div>
         <div class="form-group">
           <label for="Location">Location</label>
           <select class="form-control" id="Location" name="location">
             <option>Select</option>
             <option>First-Year Dorm</option>
             <option>Upperclassmen House</option>
             <option>Library</option>
             <option>Cafe</option>
             <option>Smith Center</option>
           </select>
         </div>
         <div class="form-group">
           <select class="form-control" id="Dorms" name="dorms">
             <option disabled selected value="">First-Year Dorm</option>
             <option>Apley Court</option>
             <option>Canaday</option>
             <option>Grays</option>
             <option>Greenough</option>
             <option>Hollis</option>
             <option>Holworthy</option>
             <option>Hurlbut</option>
             <option>Lionel</option>
             <option>Mower</option>
             <option>Mass Hall</option>
             <option>Matthews</option>
             <option>Pennypacker</option>
             <option>Stoughton</option>
             <option>Straus</option>
             <option>Thayer</option>
             <option>Weld</option>
             <option>Wigglesworth</option>
           </select>
         </div>
         <div class="form-group" name="houses">
           <select class="form-control" id="Houses" name="houses">
             <option disabled selected value="">Upperclassmen House</option>
             <option>Adams</option>
             <option>Cabot</option>
             <option>Currier</option>
             <option>Dunster</option>
             <option>Eliot</option>
             <option>Kirkland</option>
             <option>Levertt</option>
             <option>Lowell</option>
             <option>Mather</option>
             <option>Phorzheimer</option>
             <option>Quincy</option>
             <option>Winthrop</option>
           </select>
         </div>
         <div class="form-group">
           <select class="form-control" id="Libraries" name="libraries">
             <option disabled selected value="">Library</option>
             <option>Cabot</option>
             <option>Langdell Law School Library</option>
             <option>Lamont</option>
             <option>Widener</option>
           </select>
         </div>
         <div class="form-group">
           <select class="form-control" id="Cafes" name="cafes">
             <option disabled selected value="">Cafe</option>
             <option>Capital One</option>
             <option>Flour</option>
             <option>Peet's</option>
             <option>Starbucks</option>
             <option>Tatte</option>
           </select>
          </div>
         <button class="btn btn-primary" type="submit">Submit</button>
     </form>
     <script>
        const source = document.querySelector("#Location");
        const target1 = document.querySelector("#Dorms");
        const target2 = document.querySelector("#Houses");
        const target3 = document.querySelector("#Libraries");
        const target4 = document.querySelector("#Cafes");
        const displayWhenSelected = (source, value, target) => {
            const selectedIndex = source.selectedIndex;
            const isSelected = source[selectedIndex].value === value;
            target.classList[isSelected
                ? "add"
                : "remove"
            ]("show");
        };
        source.addEventListener("change", (evt) => displayWhenSelected(source, "First-Year Dorm", target1));
        source.addEventListener("change", (evt) => displayWhenSelected(source, "Upperclass House", target2));
        source.addEventListener("change", (evt) => displayWhenSelected(source, "Library", target3));
        source.addEventListener("change", (evt) => displayWhenSelected(source, "Cafe", target4));
    </script>
{% endblock %}