{% extends "layout.html" %}

{% block title %}
    Find My Friends
{% endblock %}

{% block main %}
    <br>
    You may follow up to 10 friends and know their current location by entering their email. Choose your friends wisely...
    <br>
    <br>
    <form action="/friends" method="post">
        <div class="form-group">
            <input class="form-control" name="email" placeholder="Email" type="text">
        </div>
        <button class="btn btn-primary" type="">Follow</button>
    </form>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Current Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Priyanka Kumar</td>
                <td>Cabot Library</td>
            </tr>
            <tr>
                <td>Abby McElroy</td>
                <td>Pennypacker Hall</td>
            </tr>
            <tr>
                <td>Lilah Penner Brown</td>
                <td>Thayer Hall</td>
            </tr>
            <tr>
                <td>Grace Carlson</td>
                <td>Lamont Library</td>
            </tr>
            <tr>
                <td>Carissa Wu</td>
                <td>Cabot House</td>
            </tr>
            <tr>
                <td>Nyasia Jordan</td>
                <td>Starbucks</td>
            </tr>
            <tr>
                <td>Sydney Lang</td>
                <td>Matthews Hall</td>
            </tr>
            <tr>
                <td>Jigna Chavda</td>
                <td>Not checked in</td>
            </tr>
            <tr>
                <td>Justin R Wise</td>
                <td>Wigglesworth</td>
            <tr>
                <td>Emma Mackenzie</td>
                <td>Capital One Cafe</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
