{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <h1>Welcome to Marauder's Map: Harvard Edition.</h1>

    {% if userinfo %}
            <p>
                You are logged in.
            </p>
            <dl>
                <dt><code>sub</code></dt>
                <dd><code>{{ userinfo["sub"] }}</code></dd>
                <dt><code>name</code></dt>
                <dd><code>{{ userinfo["name"] }}</code></dd>
                <dt><code>email</code></dt>
                <dd><code>{{ userinfo["email"] }}</code></dd>
            </dl>
            <p>
                <a href="/logout">Log out</a>.
            </p>
        {% else %}
            <p>
                <br>
                Want to discover Harvard's best study spaces and secret passages? Login to find your friends on campus.
                <br>
                <br>
                <a href="/login">I solemnly swear I am up to no good.</a>
            </p>
     {% endif %}
{% endblock %}
