{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}


{% block main %}
    <h1>Welcome to Marauder's Map: Harvard Edition.</h1>

    {% if userinfo %}
            <p>
                <br>
                Hello {{ userinfo["name"] }}! You have successfully logged in.
                <br>
                <br>
                Click on "Campus Map" to see the # of students at any freshman dorm, upperclassmen house, library, or cafe.
                <br>
                <br>
                Click on "Check In/Out" to check in and out of your current location.
                <br>
                <br>
                Click on "Find My Friends" to find out where your friends are right now on campus.
            </p>
            <p>
                <a href="/logout">Log out</a>.
            </p>
        {% else %}
            <p>
                <br>
                Want to discover Harvard's best study spaces and secret passages? Login to find your friends on campus.
                <br>
                <br>
                <a href="/login">I solemnly swear I am up to no good.</a>
            </p>
     {% endif %}
{% endblock %}
