!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNSAKJ7vaGIjrxPdWwC1PyTtl72446D6w"></script>
    <script>
      
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456789';
      var labelIndex = 0;

      function initialize() {
        var yard = {lat: 42.3744, lng: -71.1162} ;
        
        var smith = {lat: , lng: } ;
        
        var apley = {lat: 42.3724, lng: -71.1181} ;
        var canaday = {lat: , lng: } ;
        var grays = {lat: , lng: } ;
        var greenough = {lat: , lng: } ;
        var hollis = {lat: , lng: } ;
        var holworthy = {lat: , lng: } ;
        var hurlbut = {lat: , lng: } ;
        var lionel = {lat: , lng: } ;
        var mower = {lat: , lng: } ;
        var mass = {lat: , lng: } ;
        var matthews = {lat: 42.3741, lng: -71.1181} 
        var stoughton = {lat: , lng: } ;
        var straus = {lat: , lng: } ;
        var thayer = {lat: , lng: } ;
        var weld = {lat: , lng: } ;
        var wigg = {lat: , lng: } ;
        
        var adams = {lat: , lng: } ;
        var cabot = {lat: , lng: } ;
        var currier = {lat: , lng: } ;
        var dunster = {lat: , lng: } ;
        var eliot = {lat: , lng: } ;
        var kirkland = {lat: , lng: } ;
        var leverett = {lat: , lng: } ;
        var lowell = {lat: , lng: } ;
        var mather = {lat: , lng: } ;
        var pfoho = {lat: , lng: } ;
        var quincy = {lat: , lng: } ;
        var winthrop = {lat: , lng: } ;
        
        var cabotlib = {lat: , lng: } ;
        var law = {lat: , lng: } ;
        var lamont = {lat: , lng: } ;
        var widener = {lat: , lng: } ;
        
        var capitol = {lat: , lng: } ;
        var flour = {lat: , lng: } ;
        var peets = {lat: , lng: } ;
        var starbucks = {lat: , lng: } ;
        var tatte = {lat: , lng: } ;
        
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: yard
        });

        
        // Add a marker at the center of the map.
        addMarker(smith, map);
        addMarker(apley, map);
        addMarker(canaday, map);
        addMarker(grays, map);
        addMarker(greenough, map);
        addMarker(hollis, map);
        addMarker(holworthy, map);
        addMarker(hurlbut, map);
        addMarker(lionel, map);
        addMarker(mower, map);
        addMarker(mass, map);
        addMarker(matthews, map);
        addMarker(stoughton, map);
        addMarker(straus, map);
        addMarker(thayer, map);
        addMarker(weld, map);
        addMarker(wigg, map);
        addMarker(adams, map);
        addMarker(cabot, map);
        addMarker(currier, map);
        addMarker(dunster, map);
        addMarker(eliot, map);
        addMarker(kirkland, map);
        addMarker(leverett, map);
        addMarker(lowell, map);
        addMarker(mather, map);
        addMarker(pfoho, map);
        addMarker(quincy, map);
        addMarker(winthrop, map);
        addMarker(cabotlib, map);
        addMarker(law, map);
        addMarker(lamont, map);
        addMarker(widener, map);
        addMarker(capitol, map);
        addMarker(flour, map);
        addMarker(peets, map);
        addMarker(starbucks, map);
        addMarker(tatte, map);
      }

      // Adds a marker to the map.
      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
