{% extends "layout.html" %}

{% block title %}
    Marauder's Map
{% endblock %}

{% block main %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNSAKJ7vaGIjrxPdWwC1PyTtl72446D6w"></script>
    <script>

      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456789';
      var labelIndex = 0;

      function initialize() {
        var yard = {lat: 42.3744, lng: -71.1162} ;

        var smith = {lat: 42.3727 , lng: -71.1186} ;

        var apley = {lat: 42.3724, lng: -71.1181} ;
        var canaday = {lat: 42.3753 , lng: -71.1159 } ;
        var grays = {lat: 42.3736 , lng: -71.1178 } ;
        var greenough = {lat: 42.3729 , lng: -71.1138 } ;
        var hollis = {lat: 42.3750, lng: -71.1179} ;
        var holworthy = {lat: 42.3755 , lng: -71.1172} ;
        var hurlbut = {lat: 42.3721 , lng: -71.1139} ;
        var lionel = {lat: 42.3751 , lng: -71.1184} ;
        var mower = {lat: 42.3755 , lng: -71.1182 } ;
        var mass = {lat: 42.3744, lng: -71.1183 } ;
        var matthews = {lat: 42.3741, lng: -71.1181}
        var stoughton = {lat: 42.3754 , lng: -71.1177} ;
        var straus = {lat: 42.3741, lng: -71.1186} ;
        var thayer = {lat: 42.3750 , lng: -71.1167 } ;
        var weld = {lat: 42.3739 , lng: -71.1171 } ;
        var wigg = {lat: 42.3731 , lng: -71.1171 } ;

        var adams = {lat: 42.3717 , lng: -71.1167 } ;
        var cabot = {lat: 42.3812 , lng: -71.1247 } ;
        var currier = {lat: 42.3818, lng: -71.1255} ;
        var dunster = {lat: 42.3686, lng: -71.1158} ;
        var eliot = {lat: 42.3703, lng: -71.1209} ;
        var kirkland = {lat: 42.3708 , lng: -71.1205 } ;
        var leverett = {lat: 42.3701, lng: -71.1174} ;
        var lowell = {lat: 42.3720 , lng: -71.1181 } ;
        var mather = {lat: 42.3686, lng: -71.1153 } ;
        var pfoho = {lat: 42.3821 , lng: -71.1248} ;
        var quincy = {lat: 42.3705, lng: -71.1174 } ;
        var winthrop = {lat: 42.3702, lng: -71.1191} ;

        var cabotlib = {lat: 42.3762 , lng: -71.1162} ;
        var law = {lat: 42.3780 , lng: -71.1186} ;
        var lamont = {lat: 42.3727, lng: -71.1155 } ;
        var widener = {lat: 42.3734, lng: -71.1165 } ;

        var capital = {lat: 42.3727, lng: -71.1197} ;
        var flour = {lat: 42.3730 , lng: -71.1225} ;
        var peets = {lat: 42.3726 , lng: -71.1206 } ;
        var starbucks = {lat: 42.3733 , lng: -71.1192 } ;
        var tatte = {lat: 42.3727 , lng: -71.1170} ;


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: yard
        });


        // Add a marker at locations of map
        addMarker(smith, map);
        addMarker(apley, map);
        addMarker(canaday, map);
        addMarker(grays, map);
        addMarker(greenough, map);
        addMarker(hollis, map);
        addMarker(holworthy, map);
        addMarker(hurlbut, map);
        addMarker(lionel, map);
        addMarker(mower, map);
        addMarker(mass, map);
        addMarker(matthews, map);
        addMarker(stoughton, map);
        addMarker(straus, map);
        addMarker(thayer, map);
        addMarker(weld, map);
        addMarker(wigg, map);
        addMarker(adams, map);
        addMarker(cabot, map);
        addMarker(currier, map);
        addMarker(dunster, map);
        addMarker(eliot, map);
        addMarker(kirkland, map);
        addMarker(leverett, map);
        addMarker(lowell, map);
        addMarker(mather, map);
        addMarker(pfoho, map);
        addMarker(quincy, map);
        addMarker(winthrop, map);
        addMarker(cabotlib, map);
        addMarker(law, map);
        addMarker(lamont, map);
        addMarker(widener, map);
        addMarker(capital, map);
        addMarker(flour, map);
        addMarker(peets, map);
        addMarker(starbucks, map);
        addMarker(tatte, map);
      }

      // Adds a marker to the map.
      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
