!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNSAKJ7vaGIjrxPdWwC1PyTtl72446D6w"></script>
    <script>
      
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456789';
      var labelIndex = 0;

      function initialize() {
        var yard = {lat: 42.3744, lng: -71.1162} ;
        
        var markers = [
          ['Smith Center', 42.3727 , -71.1186],
          ['Apley Court', 42.3724, -71.1181],
          ['Canaday Hall', 42.3753 , -71.1159],
          ['Grays Hall', 42.3736 , -71.1178],
          ['Greenough Hall', 42.3729 , -71.1138],
          ['Hollis Hall', 42.3750, -71.1179],
          ['Holworthy Hall', 42.3755 , -71.1172],
          ['Hurlbut Hall', 42.3721 , -71.1139],
          ['Lionel Hall', 42.3751 , -71.1184],
          ['Mower Hall', 42.3755 , -71.1182],
          ['Mass Hall', 42.3744, -71.1183],
          ['Matthews Hall', 42.3741, -71.1181],
          ['Stoughton Hall', 42.3754 , -71.1177],
          ['Straus Hall', 42.3741, -71.1186],
          ['Thayer Hall', 42.3750 , -71.1167],
          ['Weld Hall', 42.3739 , -71.1171],
          ['Wigg Hall', 42.3731 , -71.1171],
          ['Adams House', 42.3717 , -71.1167],
          ['Cabot House', 42.3812 , -71.1247],
          ['Currier House', 42.3818, -71.1255],
          ['Dunster House', 42.3686, -71.1158],
          ['Eliot House', 42.3703, -71.1209],
          ['Kirkland House', 42.3708 , -71.1205],
          ['Leverett House', 42.3701, -71.1174],
          ['Lowell House', 42.3720 , -71.1181],
          ['Mather House', 42.3686, -71.1153],
          ['Pforzheimer House', 42.3821 , -71.1248],
          ['Quincy House', 42.3705, -71.1174],
          ['Winthrop House', 42.3702,  -71.1191],
          ['Cabot Library', 42.3762 , -71.1162],
          ['Law School Library', 42.3780 , -71.1186],
          ['Lamont Library', 42.3727, -71.1155],
          ['Widener Library', 42.3734, -71.1165],
          ['Capital One Cafe', 42.3727, -71.1197],
          ['Flour Bakery', 42.3730 , -71.1225],
          ['Peets Cafe', 42.3726 , -71.1206],
          ['Starbucks', 42.3733 , -71.1192],
          ['Tatte Bakery and Cafe', 42.3727 , -71.1170]
        ];
     
        var infoWindowContent = [
          ['<div class="info_content">' +
          '<h3>Smith Center</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Apley Court</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Canaday Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Greenough Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Hollis Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Holworthy Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Hurlbut Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Lionel Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Mower Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Matthews Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Stoughton Hallr</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Straus Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Thayer Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Weld Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Wigglesworth Hall</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Adams House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Cabot House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Currier House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Dunster House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Eliot House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Kirkland House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Leverett House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Lowell House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Mather House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Pforzheimer House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Quincy House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Withrop House</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Cabot Library</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Law School Library</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Widener Library</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Capital One Cafe</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Flour Bakery</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Peets Cafe</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Starbucks</h3>' + '</div>'],
          ['<div class="info_content">' +
          '<h3>Tatte Bakert and Cafe</h3>' + '</div>'],
        ];
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: yard
        });


      // Add multiple markers to map
      var infoWindow = new google.maps.InfoWindow(), marker, i;

      // Place each marker on the map  
      for( i = 0; i < markers.length; i++ ) {
          var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
          marker = new google.maps.Marker({
              position: position,
              label: labels[labelIndex++ % labels.length],
              map: map,
              title: markers[i][0]
          });

          // Add info window to marker    
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                  infoWindow.setContent(infoWindowContent[i][0]);
                  infoWindow.open(map, marker);
              }
          })(marker, i));
        }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
