!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Labels</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNSAKJ7vaGIjrxPdWwC1PyTtl72446D6w"></script>
    <script>
      
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456789';
      var labelIndex = 0;

      function initialize() {
        var yard = {lat: 42.3744, lng: -71.1162} ;
        
        var markers = [
          ['Smith Center', 42.3727 , -71.1186],
          ['Apley Court', 42.3724, -71.1181],
          ['Canaday Hall', 42.3753 , -71.1159],
          ['Grays Hall', 42.3736 , -71.1178],
          ['Greenough Hall', 42.3729 , -71.1138],
          ['Hollis Hall', 42.3750, -71.1179],
          ['Holworthy Hall', 42.3755 , -71.1172],
          ['Hurlbut Hall', 42.3721 , -71.1139],
          ['Lionel Hall', 42.3751 , -71.1184],
          ['Mower Hall', 42.3755 , -71.1182],
          ['Mass Hall', 42.3744, -71.1183],
          ['Matthews Hall', 42.3741, -71.1181],
          ['Stoughton Hall', 42.3754 , -71.1177],
          ['Straus Hall', 42.3741, -71.1186],
          ['Thayer Hall', 42.3750 , -71.1167],
          ['Weld Hall', 42.3739 , -71.1171],
          ['Wigg Hall', 42.3731 , -71.1171],
          ['Adams House', 42.3717 , -71.1167],
          ['Cabot House', 42.3812 , -71.1247],
          ['Currier House', 42.3818, -71.1255],
          ['Dunster House', 42.3686, -71.1158],
          ['Eliot House', 42.3703, -71.1209],
          ['Kirkland House', 42.3708 , -71.1205],
          ['Leverett House', 42.3701, -71.1174],
          
          
          
          
          
        ];
          
        
        
        
        
        var lowell = {lat: 42.3720 , lng: -71.1181 } ;
        var mather = {lat: 42.3686, lng: -71.1153 } ;
        var pfoho = {lat: 42.3821 , lng: -71.1248} ;
        var quincy = {lat: 42.3705, lng: -71.1174 } ;
        var winthrop = {lat: 42.3702, lng: -71.1191} ;
        
        var cabotlib = {lat: 42.3762 , lng: -71.1162} ;
        var law = {lat: 42.3780 , lng: -71.1186} ;
        var lamont = {lat: 42.3727, lng: -71.1155 } ;
        var widener = {lat: 42.3734, lng: -71.1165 } ;
        
        var capital = {lat: 42.3727, lng: -71.1197} ;
        var flour = {lat: 42.3730 , lng: -71.1225} ;
        var peets = {lat: 42.3726 , lng: -71.1206 } ;
        var starbucks = {lat: 42.3733 , lng: -71.1192 } ;
        var tatte = {lat: 42.3727 , lng: -71.1170} ;
        
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: yard
        });

        
        // Add a marker at locations of map
        addMarker(smith, map);
        addMarker(apley, map);
        addMarker(canaday, map);
        addMarker(grays, map);
        addMarker(greenough, map);
        addMarker(hollis, map);
        addMarker(holworthy, map);
        addMarker(hurlbut, map);
        addMarker(lionel, map);
        addMarker(mower, map);
        addMarker(mass, map);
        addMarker(matthews, map);
        addMarker(stoughton, map);
        addMarker(straus, map);
        addMarker(thayer, map);
        addMarker(weld, map);
        addMarker(wigg, map);
        addMarker(adams, map);
        addMarker(cabot, map);
        addMarker(currier, map);
        addMarker(dunster, map);
        addMarker(eliot, map);
        addMarker(kirkland, map);
        addMarker(leverett, map);
        addMarker(lowell, map);
        addMarker(mather, map);
        addMarker(pfoho, map);
        addMarker(quincy, map);
        addMarker(winthrop, map);
        addMarker(cabotlib, map);
        addMarker(law, map);
        addMarker(lamont, map);
        addMarker(widener, map);
        addMarker(capital, map);
        addMarker(flour, map);
        addMarker(peets, map);
        addMarker(starbucks, map);
        addMarker(tatte, map);
      }

      // Adds a marker to the map.
      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
